$bcolorgrey : #c2bfb0;
$bcolorblack : black;
$bcolorDefault : white;
$colorDefault : black;
$borderColorDefault : red;
$fontWeightDefault : bold;
$heightDefault : 4em;
$widthDefault : 12em;

.ButtonDefault{
  background-color: $bcolorgrey;
  padding: 5px;
  color : $colordefault;
  font-weight: $fontWeightDefault;
  border-radius: 4px;
  border-color: $borderColorDefault;
  width: 12em; //$widthDefault
  height: 4em; //$heightDefault
}
.ButtonDefault:active{
  background-color: $bcolorDefault;
  border-color: $borderColorDefault;
  color: $colorDefault;
}
.ButtonDefault:hover{
  cursor:pointer;
}

.ButtonSmall{
  background-color: $bcolorDefault;
  padding: 5px;
  color : $colorDefault;
  font-weight: $fontWeightDefault;
  border-radius: 4px;
  border-color: $borderColorDefault;
  width: 6em; //$widthDefault
  height: 2em; //$heightDefault

}
.ButtonSmall:active{
  background-color: $bcolorDefault;
  border-color: $borderColorDefault;
  color: $colordefault;
}
.ButtonSmall:hover{
  cursor:pointer;
}

.ButtonLarge{
  background-color: $bcolorDefault;
  padding: 5px;
  color : $colorDefault;
  font-weight: $fontWeightDefault;
  border-radius: 4px;
  border-color: $borderColorDefault;
  width: 24em; //$widthDefault
  height: 8em; //$heightDefault
}
.ButtonLarge:active{
  background-color: $bcolorDefault;
  border-color: $borderColorDefault;
  color: $colorDefault;
}
.ButtonLarge:hover{
  cursor:pointer;
}

.ButtonFlat{
  border:none;
  background-color: $bcolorDefault;
  color:$colorDefault;
}

.ButtonFullContainer{
  width: 100%;
}

.ButtonFancy{
  box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.5);
  background: radial-gradient(red,blue);
  border-bottom: 5px solid blue;
  width: 12em; //$widthDefault
  height: 4em; //$heightDefault
}
.ButtonFancy:active{
  border-bottom: 1px solid blue;
}
