$bcolorgrey : #c2bfb0;

.ButtonDefault{
  background-color: $bcolorgrey;
  padding: 5px;
  color : black;
  font-weight: bold;
  border-radius: 4px;
  border-color: red;
  width: 12em;
  height: 4em;
}
.ButtonDefault:active{
  background-color: black;
  border-color: black;
  color: white;
}
.ButtonDefault:hover{
  cursor:pointer;
}

.ButtonSmall{
  background-color: $bcolorgrey;
  padding: 5px;
  color : black;
  font-weight: bold;
  border-radius: 4px;
  border-color: red;
  width: 6em;
  height: 2em;

}
.ButtonSmall:active{
  background-color: black;
  border-color: black;
  color: white;
}
.ButtonSmall:hover{
  cursor:pointer;
}

.ButtonLarge{
  background-color: $bcolorgrey;
  padding: 5px;
  color : black;
  font-weight: bold;
  border-radius: 4px;
  border-color: red;
  width: 24em;
  height: 8em;
}
.ButtonLarge:active{
  background-color: black;
  border-color: black;
  color: white;
}
.ButtonLarge:hover{
  cursor:pointer;
}

.ButtonFlat{
  border:none;
  background-color: $bcolorgrey;
  color:black;
}

.ButtonFullContainer{
  width: 100%;
}

.ButtonFancy{
  box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.5);
  background: radial-gradient(red,blue);
  border-bottom: 5px solid blue;
  width: 12em;
  height: 4em;
}
.ButtonFancy:active{
  border-bottom: 1px solid blue;
}
