$bcolorgrey : #c2bfb0;
$bcolorblack : black;

$bcolorDefault : grey;
$bcolorSmall: white;
$bcolorLarge: white;
$bcolorFlat: white;
$bcolorFancy1: red;
$bcolorFancy2: blue;

$colorDefault : black;
$colorSmall: black;
$colorLarge: black;
$colorFlat: black;

$borderColorDefault : red;
$borderColorSmall : red;
$borderColorLarge : red;
$borderColorFancy : blue;

$fontWeightDefault : bold;
$fontWeightSmall : bold;
$fontWeightLarge : bold;

$heightDefault : 4em;
$heightSmall : 2em;
$heightLarge : 8em;
$heightFancy : 4em;

$widthDefault : 12em;
$widthSmall : 6em;
$widthLarge : 24em;
$widthFancy : 12em;

.ButtonDefault{
  background-color: $bcolorDefault;
  padding: 5px;
  color : $colorDefault;
  font-weight: $fontWeightDefault;
  border-radius: 4px;
  border-color: $borderColorDefault;
  width: $widthDefault;
  height: $heightDefault;
}
.ButtonDefault:active{
  background-color: $bcolorDefault;
  border-color: $borderColorDefault;
  color: $colorDefault;
}
.ButtonDefault:hover{
  cursor:pointer;
}

.ButtonSmall{
  background-color: $bcolorSmall;
  padding: 5px;
  color : $colorSmall;
  font-weight: $fontWeightSmall;
  border-radius: 4px;
  border-color: $borderColorSmall;
  width: $widthSmall;
  height: $heightSmall;

}
.ButtonSmall:active{
  background-color: $bcolorSmall;
  border-color: $borderColorSmall;
  color: $colorSmall;
}
.ButtonSmall:hover{
  cursor:pointer;
}

.ButtonLarge{
  background-color: $bcolorLarge;
  padding: 5px;
  color : $colorLarge;
  font-weight: $fontWeightLarge;
  border-radius: 4px;
  border-color: $borderColorLarge;
  width: $widthLarge;
  height: $heightLarge;
}
.ButtonLarge:active{
  background-color: $bcolorLarge;
  border-color: $borderColorLarge;
  color: $colorLarge;
}
.ButtonLarge:hover{
  cursor:pointer;
}

.ButtonFlat{
  border:none;
  background-color: $bcolorFlat;
  color:$colorFlat;
}

.ButtonFullContainer{
  width: 100%;
}

.ButtonFancy{
  box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.5);
  background: radial-gradient($bcolorFancy1,$bcolorFancy2);
  border-bottom: 5px solid $borderColorFancy;
  width: $widthFancy;
  height: $heightFancy;
}
.ButtonFancy:active{
  border-bottom: 1px solid $borderColorFancy;
}
