$colorPolice : black;
$bcolorDefault : blue;
$taillePolice : 25px;

header {
  display: flex;
  justify-content: center;
  color: $colorPolice;
  background-color: $bcolorDefault;
  padding: 2em;
  font-size: $taillePolice;
}
