$bcolorDefault : green;
$widthDefault : 35%;
$colorDefault : black;

.jumbotron{
  box-sizing:border-box;
  background-color: $bcolorDefault;
  padding: 1.5em;
  width: $widthDefault;
  p{
    color: $colorDefault;
  }
}

//à ne pas rajouter, c'est ce que t'as déjà fais

.ButtonDefault{
  background-color: grey;
  padding: 5px;
  color : black;
  font-weight: bold;
  border-radius: 4px;
  border-color: red;
  width: 12em;
  height: 4em;
}
.ButtonDefault:active{
  background-color: black;
  border-color: black;
  color: white;
}
.ButtonDefault:hover{
  cursor:pointer;
}
