$listStyle : none;
$display : flex;
$flexDirection : row;
$flexWrap : wrap;
$justifyContent : center;
$alignItems : center;
$textDecoration : none;
$color : white;
$fontWeight : bold;
$width : 20em;
$height : 2em;
$backgroundColor : orange;

$borderSize : 1px;
$borderStyle : solid;
$borderColor : white;

.navbar{
  ul{
    list-style: $listStyle;
    display: $display;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    flex-wrap: $flexWrap;
    li{
      width: $width;
      height: $height;
      background-color: $backgroundColor;
      border-right: $borderSize $borderStyle $borderColor;
      display: $display;
      justify-content: $justifyContent;
      align-items: $alignItems;
      a{
        text-decoration: $textDecoration;
        color: $color;
        font-weight: $fontWeight;
      }
    }
  }
}
