@mixin _alert($margin, $padding, $color, $fontSize, $lineHeight, $cursor, $fontWeight){


      padding: $padding;

      color: $color;
      margin-bottom: $margin;

      .closebtn {
      margin-left: $margin;
      color: $color;
      font-weight: $fontWeight;
      float: right;
      font-size: $fontSize;
      line-height: $lineHeight;
      cursor: $cursor;
      transition: 0.3s;
      }

      .closebtn:hover {
          color: black;
      }
}

@mixin _alertDanger($dangerBackgroundColor) {
  .danger{
      background-color: $dangerBackgroundColor;
  }
}

@mixin _alertSuccess($successBackgroundColor) {
  .success{
    background-color:  $successBackgroundColor;
  }
}

@mixin _alertInfo($infoBackgroundColor) {
  .info{
    background-color: $infoBackgroundColor;
  }
}

@mixin _alertWarning($warningBackgroundColor){
    .warning{
      background-color:  $warningBackgroundColor;
    }
}
