@mixin _header($colorPoliceHeader, $bcolorHeader){
  header {
    display: flex;
    justify-content: center;
    color: $colorPoliceHeader;
    background-color: $bcolorHeader;
    padding: 2em;
    font-size: 25px;
  }
}
