@mixin _header($display, $justifyContent, $colorPolice, $bcolorDefault, $padding, $taillePolice){
  display: $display;
  justify-content: $justifyContent;
  color: $colorPolice;
  background-color: $bcolorDefault;
  padding: $padding;
  font-size: $taillePolice;
}
