@mixin _jumbotron($bcolorJumbo, $widthJumbo, $colorJumbo){
  .jumbotron{
    box-sizing:border-box;
    background-color: $bcolorJumbo;
    padding: 1.5em;
    width: $widthJumbo;
    p{
      color: $colorJumbo;
    }
  }
}
