@mixin _jumbotron($bcolorDefault, $widthDefault, $colorDefault){
  .jumbotron{
    box-sizing:border-box;
    background-color: $bcolorDefault;
    padding: 1.5em;
    width: $widthDefault;
    p{
      color: $colorDefault;
    }
  }
}
