@mixin _menu($listStyle, $display, $flexDirection, $justifyContent, $flexWrap, $width, $height, $backgroundColor, $borderSize, $borderStyle, $borderColor, $alignItems, $textDecoration, $color, $fontWeight){

  .navbar{
    ul{
      list-style: $listStyle;
      display: $display;
      flex-direction: $flexDirection;
      justify-content: $justifyContent;
      flex-wrap: $flexWrap;
      li{
        width: $width;
        height: $height;
        background-color: $backgroundColor;
        border-right: $borderSize $borderStyle $borderColor;
        display: $display;
        justify-content: $justifyContent;
        align-items: $alignItems;
        a{
          text-decoration: $textDecoration;
          color: $color;
          font-weight: $fontWeight;
        }
      }
    }
  }
}
