@import "alert";
@import "jumbotron";
$margin : 15px;
$padding : 20px;
$color : white;
$fontSize : 22px;
$lineHeight : 20px;
$cursor : pointer;
$fontWeight : bold;
$dangerBackgroundColor : #f44336; /* Red */
$successBackgroundColor : #3beb2b; /* Green */
$infoBackgroundColor : #2bd5eb; /* Blue */
$warningBackgroundColor : #efc71a; /* Orange */

$bcolorDefault : green;
$widthDefault : 35%;
$colorDefault : black;

.alert {
  @include _alert($margin, $padding, $color, $fontSize, $lineHeight, $cursor, $fontWeight);
}

body{
  @include _alertDanger($dangerBackgroundColor);
  @include _alertSuccess($successBackgroundColor);
  @include _alertInfo($infoBackgroundColor);
  @include _alertWarning($warningBackgroundColor);
  @include _jumbotron($bcolorDefault, $widthDefault, $colorDefault);
}
